*{
    margin: 5px;
    padding: 0px;
}
.tav{
   padding: 20px;
    background-color: chartreuse;
    width: 150px;
    height: 90px;
}
.tav2{ 
    background-color: green;
}
.tav3{
    background-color: yellow;
}
.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: 10px solid gray;
    height: 500px;
    
}